@import '../variables';
.container{
    display:flex;
    align-items: center;
    justify-content: center;
    width:95%;
    height: 500px;
    background-color: $beige;
    
    .header{
        text-align: center;
        color:$peach;
        font-size: 30px;
    }
    .close{
        position: absolute;
        background: none;
        border: none;
        color:$peach;
        right:1%;
        top:1%;
        font-size: 30px;
    }
    button[type = submit]{
        margin-top:5px;
        width: 178px;
        color:$beige;
        font-size: 15px;
        background-color: $peach;
    }
    input[type=date]{
        width:173px;
    }
}


@media  only screen and (min-width: 1023px) {
    .container{
        top:8%;
    }
    
}