@import '../variables';
.container{
    background-image:url(https://i.fbcd.co/products/resized/resized-750-500/a-modern-womens-day-background-4-a1fb1b814a3ef785e2f277ba2408623c1b0edd112b7c5197c3393f1853ce1a6a.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 3px;
    margin-bottom: 3px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: $beige;
    
    h1{
        text-align: center;
        color:$peach;
        font-size: 30px;
    }
    form{
        background-color:rgba($color: $beige, $alpha: 0.5);
        height: 350px;
        border-radius: 15px;
        
        text-align: center;
        button[type = submit]{
            width: 310px;
            height: 25px;
            color:$beige;
            font-size: 15px;
            background-color: $peach;
        }
        input{
            width:300px;
            height:20px;
            margin:5px;
        }
        a{
            color:white;
            font-weight: bold;
            text-decoration: none;
            &:hover{
                color:$peach;
            }
        }
    }
    
    
    
}


@media  only screen and (min-width: 1023px) {
    .container{
        top:8%;
    }
    
}