@import "../variables";
h1{
    text-align: center;
    color:$peach;

}
.mem-info{
    padding-left:5px;
    border: 2px solid $peach;
    border-bottom:none;
    P{
        color:$blue;
        strong{
            color:$peach;

        }
    }
    .buttons{
        position: relative;
        left:70%;
        padding:15px;
        button{
           background-color:$blue;
           border: none;
           border-radius: 5px;
           width:100px;
           height:30px;
           color:white;
           margin:2px;
        }

    }
   
}